
.app{
    margin-top:-5%;
     width:100%;
    height:39rem;
      background-size: cover;
    background-repeat: no-repeat;
    overflow-x:hidden ;
}




.title{
    /* color:rgb(196, 173, 135); */
    color:rgb(255, 153, 58);
    font-size:45px;
    text-align: center;
    margin-left: -1.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    /* background-color: rgb(179, 178, 178); */
width: 21%;
height: 17.5%;
text-align: center;
margin-left: 39%;
margin-top: 5%;
border-radius: 5%;
opacity: 80%;

}
.title2{
    color:rgb(255, 153, 58);
  font-size:50px;
 /* text-align: end; */
margin-top: -21%;
margin-left: 67.5%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* background-color: rgb(218, 218, 218); */
width: 25%;
text-align: center;
opacity: 85%;
border-radius: 5%;

}

.qr{
    margin-top: 3%;
    /* margin-bottom: 7%; */
margin-left:  41%;
/* margin */
border-style: outset;
border-width: 8px ;
border-color: rgb(168, 165, 165);

}

.app p{
    color:black;    
    text-align: center;
    font-size:20px;
    /* margin-top: 22.5%; */
    font-weight: 700;
    margin-right: -60%;
    margin-top: 2%;
}
.img1{
    width:17%;
    height:auto;
    margin-top:-28%;
    margin-left:9%;

}
.img2{
    height: 15rem;
    width: 11.5rem;
    margin-top: -28%;
    margin-left: 11.5%;
}


.footer {
    width:100%;
    height: 3rem;
}
.navfooter{
    display:flex;
    margin-left: 19%;
}
.navfooter li{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    color: aliceblue;
}
.navfooter li:hover{
    color: white;
}
