
.app{
    margin-top:-3%;
   
    width:100%;
    height:46rem;
  
 
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x:hidden ;
}




.title{
    /* color:rgb(196, 173, 135); */
    color:rgb(255, 153, 58);
    font-size:45px;
    text-align: center;
    margin-left: -1.5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    /* background-color: rgb(179, 178, 178); */
width: 21%;
height: 17.5%;
text-align: center;
margin-left: 39%;
margin-top: 5%;
border-radius: 5%;
opacity: 80%;

}
.title2{
    color:rgb(255, 153, 58);
  font-size:50px;
 /* text-align: end; */
margin-top: -22.8%;
margin-left: 69%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* background-color: rgb(218, 218, 218); */
width: 23%;
text-align: center;
opacity: 85%;
border-radius: 5%;

}

.qr{
    margin-top: 3%;
    margin-bottom: 7%;
margin-left:  42%;
border-style: outset;
border-width: 8px ;
border-color: rgb(168, 165, 165);

}

.app p{
    color:black;    
    text-align: center;
    font-size:20px;
    /* margin-top: 22.5%; */
    font-weight: 700;
    margin-right: -60%;
    margin-top: 2%;
}
.img1{
    width:18%;
    height:auto;
    margin-top:-34%;
    margin-left:9%;

}
.img2{
    height: 19rem;
    width: 15rem;
    margin-top: -29.5%;
    margin-left: 11.1%;
}

/* .img3{
    height: 3rem;
    width:13rem;
    margin-top: -20.8%;
    margin-left: 12%;
    display: hidden;
} */

.footer {
    width:100%;
    height: 3rem;
}
.navfooter{
    display:flex;
    margin-left: 19%;
}
.navfooter li{
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    color: aliceblue;
}
.navfooter li:hover{
    color: white;
}
