/* :root {
    --color-primary:#7380ec;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#fff;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);
} */

/* * {
margin: 0;
padding:0;
outline:0;
appearance: none;
border: 0;
text-decoration:none;
list-style: none;
box-sizing: border-box;
} */

.sideBar{
    width: 100vw;
    height: 100vh;
    font-family:poppins,sans-serif;
    font-size:0.88rem;
    background: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
}

.link{
    color:#363949
}

.top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.logo{
    display: flex;
    gap: 0.8rem;
    background-color: #363949;
}

.close{
    display: none;
}

.Bar{
  background: white;
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;  
}

 .container{
    display: grid;
    width:96%;
    margin:0 auto;
   gap: 1.8rem;
   grid-template-columns: 14rem auto 23rem;
 }

.aside{
    height:100vh;
    background: gray;
}

.h3{
    font-weight: 500;
}

.link{
    display: flex;
    color:#7d8da1;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position:relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

.link:last-child{
    position: relative;
    bottom:-1rem;
    width: 100%;  
}

.link.active{
    background:rgba(132,139,200,0.18) ;
    color:#7380ec;
    margin-left: 0;
}

.link.active::before{
    content:"";
    width: 6px;
    height: 100%;
    background: #7380ec;
}

.link:hover{
    color: #7380ec;
}

.line{
    margin-left: 0%;
    width: 500px;
    height: 500px;
    margin-top: -200px;
    position: relative;
   
   
}
.chartbar{
    margin-left: 0%;
    width: 600px;
    height: 600px;
    margin-top: 74px;
    position: relative;
   
   
}
.doughnut{
    margin-left: 100%;
    width: 300px;
    height: 300px;
    margin-top: -900px;
    margin-bottom: 500px;
    position: relative;
   
   
}

.polar{
    margin-left: 100%;
    width: 350px;
    height: 350px;
    margin-top: -400px;
    margin-bottom: 500px;
    position: relative;
   
   
}

.bubble{
    margin-left: 0%;
    width: 900px;
    height: 900px;
    
   
    position: relative;
}

.n{
    margin-left: 1180px;
    background: #f6f6f9;
}

.d{
    margin-left: 0;
    margin-top: -20%;
    background: red;
    width: 50px;
}