.swiperContainer {
    width: 100%;
    height: 400px;
    overflow: hidden;
    animation:infinite;
    margin-top: 50%;
    /* margin-bottom: 2% */
  }
 
  .swiperWrapper {
    width: 300%;
    height:450px;
    display:flex;
    
  }
  
  .swiperSlide {
    width: 15%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: white;
  }
  
  
  .swiperSlide:nth-child(1) {
  background-repeat: no-repeat;
  background-size: 150%;
  background-image: url("/paintings/w1.jpg");
  background-position-y:center ;
}
.swiperSlide:nth-child(2) {
    background-image: url("/paintings/w2.jpg");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position-y:center ;
  
}

  .swiperSlide:nth-child(3) {
    background-repeat: no-repeat;
    background-image: url("/paintings/w3.jpg");
    background-size: 160%;
    background-position-y:center ;
  }
  
  .swiperSlide:nth-child(4) {
    background-repeat: no-repeat;
    background-size: 160%;
    background-image: url("/paintings/w4.jpg");
    background-position-y:center ;
  }
  .swiperSlide:nth-child(5) {
    background-repeat: no-repeat;
    background-size: 160%;
    background-image: url("/paintings/w5.jpg");
    background-position-y:center ;  
    
}
.swiperSlide:nth-child(6)
{
  background-image: url("/paintings/w6.jpg");
  background-repeat: no-repeat;
  background-size: 160%;
  background-position-y:center ;
}
  .swiperSlide:nth-child(7) {
      background-repeat: no-repeat;
    background-size: 160%;
    background-image: url("/paintings/w7.jpg");
    background-position-y:center ;
}
.swiperSlide:nth-child(8) {
    background-repeat: no-repeat;
    background-size: 160%;
    background-image: url("/paintings/w8.jpg");
background-position-y:center ;
}

  
  /* Add animation */
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-82%);
    }
  }
  


    .swiperWrapper {
        animation: slide 50s infinite;
      }
      
.test{
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 600px;
   
}   
.text{
    margin-top: 5%;
    width: 90%;
    height: 100%;
    color:aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.test2{
    margin-left: 5%;
    width: 90%;
    height: 600px;
    color:aliceblue;
 
}  
.image{
    display: flex;
    width: 100%;
    height: 95%;
    border-radius: 10px 10px 10px 10px ;
    background-image: url("https://i.pinimg.com/originals/69/49/68/6949682f5594db137aaaa99fc358a065.jpg");
    background-size: 100%;
    background-position-y: center ;
    margin-top: 1%;
    background-repeat: no-repeat;
  
  }

.textx{
    width: 90%;
    height: 90%;
    color:aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: -50%;
    margin-left: 5%;
    margin-top: 2%;

  }

.text h1{
    font-size: 60px;
    color: rgb(184, 75, 2);
}
.text p{
    font-size: 25px;
}

.textx h1{
    font-size: 60px;
    color:rgb(184, 75, 2);
}
.textx p{
    font-size: 25px;
}

.image2{
    display: flex;
    width: 100%;
    height: 90%;
    background-image: url("https://media.discordapp.net/attachments/989739585158389760/1081601037816828005/sellami.houssem_a_mall_basket_full_of_art_tools_and_painting_to_c9b16e84-3000-4be2-8391-4d79347f15f2.png?width=671&height=671");
    background-size: 100%;
    background-position-y: 40% ;
    border-radius: 10px 10px 10px 10px ;
    background-repeat: no-repeat;

    
}

.image3{
    display: flex;
    width: 100%;
    height: 95%;
    background-image: url("https://media.discordapp.net/attachments/989739585158389760/1081604512034324531/sellami.houssem_image_of_3_famous_paintings_4k_dark_black_backg_eb36fc42-e26b-4952-9743-e22cb648e95e.png?width=671&height=671");
    background-size: 100%;
    background-position-y: center ;
    border-radius: 10px 10px 10px 10px ;
margin-top: 8%;
background-repeat: no-repeat;

}

.textxx h1{
  
    margin-top: 5%;
    /* margin-left: 3%; */
    width: 110%;
    color:rgb(184, 75, 2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 43px;
}

.footer{
   margin-top: -35rem;
   width: 100%;
   height: 500px; 
   /* background-color: rgb(255, 255, 255); */
   position: absolute;
   display: flex;

}
.footer1{
/* background-color: aquamarine; */
   color: white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 24px;
   font-weight: bold;
   height: 100%;
   width: 25%;
   display: block;
}
.footer2{
  /* background-color: rgb(221, 127, 255); */
     color: white;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 40px;
     font-weight: bold;
     height: 100%;
     width: 25%;
     /* padding: 1%; */
     padding-left: 5%;
  }

  .footer2 button{
    color: rgb(255, 0, 0);
  }

  .footer2 button:hover{
    color: rgb(245, 160, 4);
  }

  .footer2 li{
    color: rgb(255, 255, 255);
    
  }
  .footer2 li:hover{
    color: rgb(245, 160, 4);
  }

.footer3{
       color: white;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-size: 24px;
       font-weight: bold;
       height: 100%;
       /* width: 25%; */
    }
    .footer4{
         color: rgb(255, 255, 255);
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-weight: bold;
         height: 100%;
         width: 50%;
         padding: 3%; 
        
      }
      .footer4 p{
        font-size: 20px;
      }

      .tx{
        height: 50%;
        line-height: 80%;
        /* text-align: center  ; */
        font-size: 100px;
        margin-left: 15%;
        margin-top: -5%;
        
      }

      .im{
        background-image: url("https://i.pinimg.com/736x/51/e2/ff/51e2ff6f08817a661b3eaf8d0a45d1e1.jpg");
height: 50%;
background: size 100%;
background-repeat: no-repeat ;
      background-size: cover;
      background-position: center;
      }